@*
    This view provides a form for users who have forgotten their password
    to initiate the reset process. It is strongly typed to the ForgotPasswordViewModel.
*@
@model Deadpan.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    @*
        This form collects the user's email and posts it to the "ForgotPassword"
        action in the "AccountController".
    *@
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @* Renders a hidden input with a unique token to prevent Cross-Site Request Forgery (CSRF) attacks. *@
        @Html.AntiForgeryToken()
        <h4>Enter your email.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" class="btn btn-outline-dark" value="Email Link" />
            </div>
        </div>
    }
</main>

@* This section includes the necessary jQuery scripts for client-side validation of the form. *@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
