@*
    This view is for users who have registered with an external login provider
    (e.g., Google, Facebook) and do not yet have a local password for the site.
    It allows them to create one.
    It is strongly typed to the SetPasswordViewModel, which contains the properties
    for the new password and its confirmation.
*@
@model Deadpan.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <p class="text-info">
        @* Informational message explaining the purpose of this page. *@
        You do not have a local username/password for this site. Add a local
        account so you can log in without an external login.
    </p>

    @*
        This form POSTs the new password data to the "SetPassword" action
        in the "Manage" controller.
    *@
    @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h4>Create a local login</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @* Renders a password input field for the NewPassword property. *@
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @* Renders a password input field for the ConfirmPassword property. The [Compare] attribute on the ViewModel handles validation. *@
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Set password" class="btn btn-outline-dark" />
            </div>
        </div>
    }
</main>

@*
    This section renders the jQuery Validation script bundle to enable client-side validation
    based on the data annotations in the SetPasswordViewModel.
*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
